
.comment {
    padding: 5px;
    justify-content: space-between;
    border-bottom: 1px solid var(--app-light-background-color);
}
.commentHeader {
    align-items: center;
    padding: 10px 0px;
}
.commentHeader > img {
    border-radius: 50%;
    margin-right: 5px;
}
.commentHeader > span {
    cursor: pointer;
}
.commentUserNameAndTime {
    flex-grow: 1;
}
.commentContent {
    padding: 10px 0px;
}
.commentFooter {
    padding: 10px 0px;
}