
.commentContainer {
    align-items: flex-end;
    border-color: var(--app-light-background-color);
    padding: 10px;
}
.comment {
    padding: 5px;
    justify-content: space-between;
}
.commentHeader {
    align-items: center;
    padding: 10px 0px;
}
.commentHeader > img {
    border-radius: 50%;
    margin-right: 5px;
}
.commentHeader > span {
    cursor: pointer;
}
.commentUserNameAndTime {
    flex-grow: 1;
}
.commentContent {
    padding: 10px 0px;
}
.commentFooter {
    padding: 10px 0px;
}
.repliesButton {
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
}
.repliesButton > p {
    margin-left: 5px;
}

.repliesContainer {
    position: absolute;
    top: 100%;
    right: 0px;
    left: 0px;
}