
.page {
    overflow-y: scroll;
    align-items: center;
}

.header {
    align-items: center;
}

.headerBackground {
    height: 220px;
}

.headerBackground > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogContainer {
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}