
.storiesContainer {
    width: calc(100% - 350px);
}

.storiesContainer > article {
    margin-bottom: 20px;
}

.storiesPage {
    justify-content: center;
    padding-top: var(--app-main-page-padding-top);
}

@media screen and (max-width: 910px) {
    .storiesContainer {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {

    .storiesPage {
        padding-top: 10px;
    }
}