.header {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header > button {
    background-color: var(--app-selected-background-color);
    color: var(--app-selected-text-color);
}

.header > button > a {
    color: var(--app-selected-text-color);
    text-decoration: none;
}

.main {
    max-width: var(--app-main-page-max-width);
    padding: 10px;
    justify-content: space-between;
    padding-top: var(--app-main-page-padding-top);
}

.organizationListingContainer {
    height: calc(100% - 80px);
    overflow-y: scroll;
}

@media screen and (max-width: 500px) {
    .header > label {
        max-width: 200px;
    }
    .main {
        padding-top: 10px;
    }
}

@media screen and (max-width: 300px) { 

    .header > label {
        max-width: 160px;
    }
}
