

.generalEditForm {
    max-width: 700px;
    width: 100%;
    align-items: center;
}

.generalEditForm > label, .generalEditForm input, .generalEditForm textarea {
    width: 100%;
}

.page > form {
    height: calc(100% - 40px);
    overflow-y: scroll;
}

.page > form > button {
    width: fit-content;
    background-color: var(--app-selected-background-color);
    color: var(--app-selected-text-color);
    padding: 5px 10px;
    font-size: 18px;
}