

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --app-background-color: white;
  --app-light-background-color: hsl(0, 4%, 86%);
  --app-selected-background-color: hsl(206, 93%, 52%);
  --app-warning-background-color: red;

  --app-text-color: black;
  --app-light-text-color: hsl(15, 2%, 51%);
  --app-selected-text-color: white;

  --app-button-padding: 7px;
  --app-header-height: 50px;

  --app-navbar-status-translate: -100%;

  --app-main-page-max-width: 830px;
  --app-main-page-padding-top: 60px;

}

html {
  color-scheme: light;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  background-color: var(--app-background-color);
  color: var(--app-text-color);
  width: 100%;
  height: 100%;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.x-axis-flex {
  display: flex;
}

.y-axis-flex {
  display: flex;
  flex-direction: column;
}

.full-body {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.button {
  padding: var(--app-button-padding);
  border: none;
  border-radius: 5px;
  height: fit-content;
  cursor: pointer;
  transition: 0.5s;
}

.button:active {
  transform: scale(0.9);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.pointer {
  cursor: pointer;
}

.quill {
  height: calc(100% - 250px);
  overflow-y: scroll;
}
.ql-container.ql-snow {
  border: none;
  height: calc(100% - 50px);
  overflow-y: scroll;
}

.ql-container.ql-snow::-webkit-scrollbar, .quill::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 500px) {
  .ql-container.ql-snow {
    height: calc(100% - 70px);
  }
}

@media (prefers-color-scheme: dark) {

}