
:root {

  --app-background-color: hsl(230, 82%, 4%);
  --app-light-background-color: hsl(228, 7%, 87%);
  --app-text-color: hsl(0, 0%, 99%);
  --app-button-padding: 7px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--app-background-color);
  color: var(--app-text-color);
  padding: 10px;
}

.x-axis-flex {
  display: flex;
}

.y-axis-flex {
  display: flex;
  flex-direction: column;
}

.full-body {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.button {
  padding: var(--app-button-padding);
  border: none;
  border-radius: 5px;
  height: fit-content;
  cursor: pointer;
  transition: 0.5s;
}

.button:active {
  transform: scale(0.9);
}