
.dropDownContainer {
    position: relative;
}

.dropDownDisplay {
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    border: 1px solid var(--app-light-background-color);
    cursor: pointer;
    padding: 10px;
}

.dropDownDisplay > p {
    margin-right: 5px;
}

.dropDownLeft {
    min-width: 200px;
    scale: 0;
    transition: 0.5s;
    transform-origin: top left;
    border: 1px solid var(--app-light-background-color);
    position: absolute;
    top: 100%;
    background-color: var(--app-background-color);
}

.dropDownRight {
    min-width: 200px;
    scale: 0;
    transition: 0.5s;
    transform-origin: top right;
    border: 1px solid var(--app-light-background-color);
    position: absolute;
    top: 100%;
    right: 0px;
    background-color: var(--app-background-color);
}

.showDropDown {
    scale: 1;
}

.dropDownRight > li, .dropDownLeft > li {
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid var(--app-light-background-color);
    cursor: pointer;
}

.dropDownRight > li:hover, .dropDownLeft > li:hover {
    background-color: var(--app-light-background-color);
    transition: 0.5s;
}