
.appHeader {
    justify-content: space-between;
    align-items: center;
    padding: 4.5px 5px;
    border-bottom: 1px solid var(--app-light-background-color);
    height: var(--app-header-height);
}

.rightBar {
    align-items: center;
    justify-content: space-between;
    max-width: 160px;
    width: 60%;
}

.composeIcon {
    align-items: center;
    color: var(--app-light-text-color);
    cursor: pointer;
    text-decoration: none;
}

.composeIcon > svg {
    font-size: 20px;
    margin-right: 5px;
}

.headerImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.appOrHamburgerMenu > svg {
    width: 20px;
    display: none;
}

.appNavbar {
    height: 100%;
    width: 200px;
    border-right: 1px solid var(--app-light-background-color);
    background-color: var(--app-background-color);
    transition: 0.5s;
    z-index: 10;
}

.navLink {
    text-decoration: none;
    color: var(--app-light-text-color);
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    transition: 0.5s;
}

.navLinkChild {
    align-items: center;
}
.navLinkChild > svg {
    width: 15px;
    margin-right: 5px;
}
.navLink:hover {
    background-color: var(--app-light-background-color);
    color: var(--app-text-color);
}
.activeNavLink, .activeNavLink:hover {
    background-color: var(--app-selected-background-color);
    color: var(--app-selected-text-color);
}

@media screen and (max-width: 1000px) {
    /* .appOrHamburgerMenu > svg {
        display: block;
    }
    .appOrHamburgerMenu > a > h1 {
        display: none;
    } */
    .appNavbar {
        transform: translateX(var(--app-navbar-status-translate));
        position: absolute;
    }
}

@media screen and (max-width: 500px) {
    
    .appNavbar {
        flex-direction: row;
        max-width: none;
        width: 100%;
        justify-content: space-around;
        transform: translateX(0);
        position: static;
        height: fit-content;
    }
    .navLinkChild > svg {
        margin: 0px;
        width: 20px;
    }
    .navLinkChild > p {
        display: none;
    }
    .appOrHamburgerMenu > svg {
        display: none;
    }
    .appOrHamburgerMenu > a > h1 {
        display: block;
        font-size: 26px;
    }
}