
.middleBody {
    justify-content: space-between;
    height: calc(100% - var(--app-header-height));
}

.main {
    height: 100%;
    width: calc(100% - 200px);
    --app-main-body-background-color: var(--app-background-color);
}

@media screen and (max-width: 1000px) {
    .main {
        width: 100%;
    }
    .middleBody {
        position: relative;
    }
}

@media screen and (max-width: 500px) {
    
    .middleBody {
        flex-direction: column-reverse;
    }
    .blogListing {
        width: 100%;
    }
}