
.organizationCreationContainer {
    align-items: center;
}

.organizationCreationForm, .organizationCreationNavbar {
    max-width: 700px;
    width: 100%;
    align-items: center;
}

.organizationCreationForm {
    margin-bottom: 20px;
}

.organizationCreationForm > label, .organizationCreationForm input, .organizationCreationForm textarea {
    width: 100%;
}

.organizationCreationNavbar {
    justify-content: flex-end;
    margin-top: 5px;
}

.organizationCreationNavbar > button {
    color: var(--app-selected-text-color);
    background-color: var(--app-selected-background-color);
    font-size: 18px;
}


.userAddingSection {
    max-width: 1200px;
    width: 100%;
    align-items: center;
    max-height: 700px;
    height: 100%;
    border: 1px solid var(--app-light-background-color);
}

.userAddingForm {
    width: 60%;
    height: 100%;
    border-right: 1px solid var(--app-light-background-color);
    padding: 10px;
}

.userAddingForm > div, .addedUserPreview > div {
    height: 100%;
    overflow-y: scroll;
    align-items: center;
}

.userAddingForm > label {
    margin: 5px 5px 10px 5px;
}

.addedUserPreview {
    width: 40%;
    height: 100%;
    padding: 10px;
}

.addedUserPreview > h2 {
    margin-bottom: 10px;
}

.noUsersImage {
    width: 400px;
    background-size: contain;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .noUsersImage {
        width: 300px;
    }
}

@media screen and (max-width: 710px) {
    .userAddingSection {
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    .userAddingForm {
        border-right: none;
        border-bottom: 1px solid var(--app-light-background-color);
        height: 49%;
        width: 100%;
    }
    .addedUserPreview {
        width: 100%;
        height: 49%;
    }

    .noUsersImage {
        width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .organizationCreationForm {
        margin-bottom: 0px;
    }
    .organizationCreationContainer {
        justify-content: space-between;
    }
    .userAddingForm > label > input {
        display: block;
        width: 100%;
        max-width: 450px;
    }
}

@media screen and (max-width: 300px) {
    .noUsersImage {
        width: 200px;
    }
}
