
.composeArea {
    max-width: 1200px;
    width: 95%;
    height: 90%;
    padding-top: var(--app-main-page-padding-top);
    overflow-y: scroll;
}

.editorWrapper {
    border: 1px solid;
    height: 100%;
}

@media screen and (max-width: 500px) {
    .composeArea {
        padding-top: 10px;
        height: 85%;
    }
}