
.blogMeta {
    max-width: 700px;
    width: 95%;
    padding: 10px;
}

.blogMetaHeader {
    align-items: center;
    cursor: pointer;
}

.blogMetaHeader > img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}
.blogMetaHeader > p, .blogMetaHeader > b {
    margin-right: 10px;
}

.blogContent {
    justify-content: space-between;
    margin: 10px 0px;
    cursor: pointer;
}

.blogContent > div > h2 {
    margin-bottom: 5px;
}

.blogContent > img {
    border-radius: 5px;
}

.blogFooter {
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
}

.categoryContainer {
    width: 137px;
    overflow-x: scroll;
}

.category {
    background-color: hsl(0, 3%, 86%);
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.otherActionsContainer > span {
    margin-right: 10px;
    cursor: pointer;
}

.searchBarLabel {
    max-width: 400px;
    width: 90%;
    display: block;
}

.searchBarLabel > input {
    outline: none;
    border: none;
    border: 1px solid var(--app-light-background-color);
    font-size: 20px;
    padding: 7px;
    border-radius: 10px;
    width: 100%;
}


.userListContainer {
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    border-radius: 7px;
    transition: 0.5s;
}

.userListContainer:hover {
    background-color: var(--app-light-background-color);
}

.userListContainer > img {
    border-radius: 50%;
    margin-right: 5px;
}

.userListContainer > p {
    flex-grow: 1;
}

.userListContainer > svg {
    background-color: hsl(123, 91%, 35%);
    color: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.userListContainer > svg:active {
    transform: scale(0.9);
}

@media screen and (max-width: 500px) {
    
    .blogContent > div > p {
        display: none;
    }
    .blogContent > img {
        width: 80px;
        height: 60px;
    }
}