
.organizationCreationContainer {
    align-items: center;
}

.organizationCreationForm, .organizationCreationNavbar {
    max-width: 700px;
    width: 100%;
    align-items: center;
}

.organizationCreationForm {
    margin-bottom: 20px;
}

.organizationCreationForm > label, .organizationCreationForm input, .organizationCreationForm textarea {
    width: 100%;
}

.organizationCreationNavbar {
    justify-content: flex-end;
    margin-top: 5px;
}

.organizationCreationNavbar > button {
    color: var(--app-selected-text-color);
    background-color: var(--app-selected-background-color);
    font-size: 18px;
}


.userAddingSection {
    max-width: 700px;
    width: 100%;
    align-items: center;
    max-height: 700px;
    height: 100%;
    border: 1px solid var(--app-light-background-color);
}

.userAddingForm {
    width: 80%;
    height: 100%;
    border-right: 1px solid var(--app-light-background-color);
}

.userAddingForm > div {
    height: 100%;
    overflow-y: scroll;
}

.userAddingForm > label {
    margin: 5px 5px 0px 5px;
}

.addedUserPreview {
    width: 20%;
    height: 100%;
    min-width: 250px;
    overflow-y: scroll;
}

@media screen and (max-width: 710px) {
    .userAddingSection {
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    .userAddingForm {
        border-right: none;
        border-bottom: 1px solid var(--app-light-background-color);
        height: 49%;
    }
    .addedUserPreview {
        width: 100%;
        height: 49%;
    }
    .userAddingForm {
        width: 100%;
        height: calc(100% - 40px);
    }
}

@media screen and (max-width: 500px) {
    .organizationCreationForm {
        margin-bottom: 0px;
    }
    .organizationCreationContainer {
        justify-content: space-between;
    }
    .userAddingForm > label > input {
        display: block;
        width: 100%;
        max-width: 450px;
    }
}
